.about-section-last-img{
    width: 100vw;
}

.about-section-review-img {
    width: 90%;
}

/* .about-section-last-img{
    width: 100vw;
} */

@media screen and (max-width:900px) {
    .about-section-last-img{
        width: 100vw;
    }
    .about-section-review-img{
        width: 50%;
    }
}